body {
  margin: 0;
  padding: 0;
}

.Loading-screen .loading, .Loading-screen {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: fixed;
  height: 100%;
  width: 100%;
}

.Chat-screen, .sign-up-screen, .Login-screen {
  width: 100%;
  height: 100%;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: fixed;
}

.Chat-screen .chat-end #button3 .send_img, .Chat-screen .chat-header .button2 .img1, .sign-up-screen .button4 .sign_up, .sign-up-screen .signup_head .back .back_img {
  height: 100%;
  width: 100%;
}

.sign-up-screen .input1, .Login-screen .button1, .Login-screen .in {
  display: flex;
  flex-direction: column;
}

.Chat-screen .chat-messages .msg-bubble-right, .Chat-screen .chat-messages .msg-bubble-left {
  display: inline-block;
  padding: 15px;
  position: relative;
}

.Chat-screen .chat-messages .msg-bubble-right:before, .Chat-screen .chat-messages .msg-bubble-right .msg-bubble-left:before {
  content: "";
  position: absolute;
  top: 0px;
  width: 0;
  height: 0;
}

.Login-screen .in .password, .Login-screen .in .username {
  padding: 10px;
  font-size: 18px;
}

.sign-up-screen .logo, .Login-screen .logo {
  margin-top: 40px;
  animation: transform 3s ease infinite alternate-reverse;
}

.sign-up-screen .logo .image1, .Login-screen .logo .image1 {
  width: 20vw;
  height: 15vh;
}

.Loading-screen {
  /* top: 50%; */
  background-size: cover;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGjsLb0G_cb28nlDF_bmIyXXV_hije5gD4ng_4dbBV9TxeWMKZ");
}
.Loading-screen .loading {
  top: 40%;
}
.Loading-screen .loading div {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-left: 16px solid pink;
  height: 100px;
  width: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*==================================================================================*/
/*=========================login screen==============================================*/
.Login-screen {
  background-image: url("http://www.kinyu-z.net/data/wallpapers/67/935135.jpg");
}
.Login-screen .in {
  color: white;
  width: 50%;
}
.Login-screen .forgot {
  color: aliceblue;
  height: 6vh;
}
.Login-screen .source {
  /* display: flex;
  justify-content:center;
  flex-direction: row;
  height:45%; */
  justify-content: space-around;
  display: flex;
  align-content: center;
  width: 100%;
}
.Login-screen .source .facebook img {
  width: 19vw;
  height: 13vh;
}
.Login-screen .source .google img {
  width: 14vw;
  height: 10vh;
  margin-top: 6px;
}
.Login-screen .button1 {
  width: 100%;
}
.Login-screen .button1 .sign_in {
  background-color: #2196f366;
  height: 8vh;
  color: aliceblue;
}
.Login-screen .button1 .sign_up {
  background-color: #3f51b552;
  height: 8vh;
  color: white;
}

@keyframes transform {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*======================================================================================*/
/*=============================sign up screen========================================*/
.sign-up-screen {
  /* background-color: aqua; */
  /* border: 1px solid black; */
  /* padding: 4vw 4vh 4vw 4vh; */
  /* background-image: url("https://i.ytimg.com/vi/LMKtIvfZ5B8/maxresdefault.jpg"); */
  /* background-image: url("https://avatars.mds.yandex.net/get-pdb/70729/f565694a-22ce-42e8-a0a5-16ba0f2207c0/orig"); */
  background-image: url("http://www.geniales.info/wp-content/uploads/2018/08/fantastic-3d-phone-wallpaper-and-blue-3d-background-by-xxdannehxx-on-deviantart.jpg");
  /* background-image: url("https://powercore.info/wp-content/uploads/2018/06/animated-gif-moving-wallpapers-for-desktop-new-wallpaper-gif-shared-by-jojotaxe-on-gifer-of-animated-gif-moving-wallpapers-for-desktop.gif"); */
  background-image: url("https://www.qdtrick.top/wp-content/uploads/2017/03/hd-mobile.jpg");
}
.sign-up-screen .signup_head {
  height: 11vh;
  display: flex;
  width: 100%;
  background-color: #88393942;
}
.sign-up-screen .signup_head .back {
  background-color: #61412e2e;
  height: 100%;
  width: 22vw;
  display: flex;
  justify-content: center;
}
.sign-up-screen .input1 {
  color: white;
  width: 70%;
}
.sign-up-screen .input1 .input2 {
  height: 5vh;
  border-radius: 13px;
}
.sign-up-screen .button4 {
  width: 100%;
  height: 10vh;
  background-color: #b222221f;
}
.sign-up-screen .button4 .sign_up {
  background-color: #a05c5a3b;
  color: white;
  font-size: 29px;
}

@keyframes transform {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*========================chat screen====================================================*/
.Chat-screen {
  /* background-color: aqua; */
  /* border: 1px solid black; */
  /* padding: 4vw 4vh 4vw 4vh; */
  /* background-image: url("https://i.ytimg.com/vi/LMKtIvfZ5B8/maxresdefault.jpg"); */
  /* background-image: url("https://avatars.mds.yandex.net/get-pdb/70729/f565694a-22ce-42e8-a0a5-16ba0f2207c0/orig"); */
  /* background-image: url("http://www.geniales.info/wp-content/uploads/2018/08/fantastic-3d-phone-wallpaper-and-blue-3d-background-by-xxdannehxx-on-deviantart.jpg"); */
  /* background-image: url("https://powercore.info/wp-content/uploads/2018/06/animated-gif-moving-wallpapers-for-desktop-new-wallpaper-gif-shared-by-jojotaxe-on-gifer-of-animated-gif-moving-wallpapers-for-desktop.gif"); */
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR43zCRIX_nLoX_Toa4qduLzVXEtiDCURRXVhMDRT8vvOnhKgZV");
}
.Chat-screen .chat-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
  color: white;
  font-size: 45px;
  background-color: #0f752069;
}
.Chat-screen .chat-header .button2 {
  height: 100%;
  width: 17vw;
  background-color: #9ace5a;
}
.Chat-screen .chat-messages {
  width: 100%;
  /*background-color: w;
  background-color: #000006e0;
  color: white; */
  overflow-y: auto;
  flex: 1;
}
.Chat-screen .chat-messages .bubble {
  min-width: 80px;
}
.Chat-screen .chat-messages .msg-bubble-left {
  background: #fff;
  -moz-border-radius: 0px 10px 0px 10px;
  -webkit-border-radius: 0px 10px 0px 10px;
  border-radius: 0px 10px 0px 10px;
  margin-left: 10px;
}
.Chat-screen .chat-messages .msg-bubble-right {
  right: 0;
  background: #ffeb3b;
  -moz-border-radius: 10px 0px 10px 0px;
  -webkit-border-radius: 10px 0px 10px 0px;
  border-radius: 10px 0px 10px 0px;
  margin-right: 10px;
}
.Chat-screen .chat-messages .msg-bubble-right .msg-bubble-left:before {
  right: 100%;
  border-top: 0px solid transparent;
  border-right: 16px solid #fff;
  border-bottom: 20px solid transparent;
}
.Chat-screen .chat-messages .msg-bubble-right:before {
  left: 100%;
  border-top: 0px solid #ffeb3b;
  border-left: 16px solid #ffeb3b;
  border-bottom: 20px solid #ffeb3b00;
}
.Chat-screen .chat-messages .msg-bubble-left .msg-date-time {
  font-size: 8px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 5px;
}
.Chat-screen .chat-end {
  background-color: #21c13a12;
  width: 100%;
  height: 11vh;
  display: flex;
}
.Chat-screen .chat-end .send1 {
  height: 100%;
  background: transparent;
  color: white;
  width: 77vw;
}
.Chat-screen .chat-end #button3 {
  background-color: #24312e;
  height: 100%;
  width: 23vw;
}
/*============================end chat screen========================================*/

/*# sourceMappingURL=style.css.map */
