$primary-color: black;
$secondary-color:#9a3333;
$accent-color:#9a3333;
$text-color:white;

%flex{
    display: flex;
    justify-content: center;
     align-items: center;
}

body{
    overflow: hidden;
}