body{
    margin: 0;
    padding: 0;
  }
  %flex-center {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: fixed;
    height: 100%;
    width: 100%;
  }  
  %flex-posision{
    width: 100%;
    height: 100%;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    flex-direction: column;
    position: fixed;
  }
  %size{
    height: 100%;
    width: 100%;
  }
  %flex{
    display: flex;
    flex-direction: column;
  }
  %display{
    display: inline-block;
    padding: 15px;
    position: relative;
  }
  %position{
    content: "";
    position: absolute;
    top: 0px;
    width: 0;
    height: 0;
  }
  %user{
    padding: 10px;
    font-size: 18px;
  }
  %logo{
    margin-top: 40px;
    animation: transform 3s ease infinite alternate-reverse;
  }
  %image{
    width: 20vw;
    height: 15vh;    
  }
 