.Loading-screen {
  @extend %flex-center;
      /* top: 50%; */
      background-size: cover; 
      background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGjsLb0G_cb28nlDF_bmIyXXV_hije5gD4ng_4dbBV9TxeWMKZ"); 
      .loading{
        @extend %flex-center;
        top: 40%;
        div{
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid blue;
            border-right: 16px solid green;
            border-bottom: 16px solid red;
            border-left: 16px solid pink;
             height: 100px;
             width: 100px;
            
            animation: spin 2s linear infinite;
          }
      }
    }
  
    
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  
 
  /*==================================================================================*/